<%=form_tag appointments_add_url do%>
	<p class='container' style='padding-left:30%'>
	<%=text_field :scheduled_at, '',:value => Time.now %></p>
	<%= submit_tag 'Add' %>
<% end %>
<%=link_to 'Manage', appointments_index_url%><br />
